DispatcherClientLib/Service References/Dispatcher/DispatcherOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://nuix-x/services/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DispatcherOperations" targetNamespace="http://nuix-x/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetMsmqBinding_IDispatcherOperations_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nuix-x/services/Imports">
      <xsd:import schemaLocation="http://nyitdevws001:9000/?xsd=xsd0" namespace="http://nuix-x/services/" />
      <xsd:import schemaLocation="http://nyitdevws001:9000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nyitdevws001:9000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QueueLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDispatcherOperations_RegisterJob_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterJob" />
  </wsdl:message>
  <wsdl:message name="IDispatcherOperations_RegisterWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterWorker" />
  </wsdl:message>
  <wsdl:message name="IDispatcherOperations_RequestJob_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestJob" />
  </wsdl:message>
  <wsdl:message name="IDispatcherOperations_DeRegisterWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:DeRegisterWorker" />
  </wsdl:message>
  <wsdl:portType name="IDispatcherOperations">
    <wsdl:operation name="RegisterJob">
      <wsdl:input wsaw:Action="http://nuix-x/services/IDispatcherOperations/RegisterJob" message="tns:IDispatcherOperations_RegisterJob_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterWorker">
      <wsdl:input wsaw:Action="http://nuix-x/services/IDispatcherOperations/RegisterWorker" message="tns:IDispatcherOperations_RegisterWorker_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestJob">
      <wsdl:input wsaw:Action="http://nuix-x/services/IDispatcherOperations/RequestJob" message="tns:IDispatcherOperations_RequestJob_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeRegisterWorker">
      <wsdl:input wsaw:Action="http://nuix-x/services/IDispatcherOperations/DeRegisterWorker" message="tns:IDispatcherOperations_DeRegisterWorker_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetMsmqBinding_IDispatcherOperations" type="tns:IDispatcherOperations">
    <wsp:PolicyReference URI="#NetMsmqBinding_IDispatcherOperations_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="RegisterJob">
      <soap12:operation soapAction="http://nuix-x/services/IDispatcherOperations/RegisterJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterWorker">
      <soap12:operation soapAction="http://nuix-x/services/IDispatcherOperations/RegisterWorker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RequestJob">
      <soap12:operation soapAction="http://nuix-x/services/IDispatcherOperations/RequestJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeRegisterWorker">
      <soap12:operation soapAction="http://nuix-x/services/IDispatcherOperations/DeRegisterWorker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DispatcherOperations">
    <wsdl:port name="NetMsmqBinding_IDispatcherOperations" binding="tns:NetMsmqBinding_IDispatcherOperations">
      <soap12:address location="net.msmq://nyitdevws001/private/dispatcher" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://nyitdevws001/private/dispatcher</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>